<%- include('../../parts/head', {bot, user, path}) %>
<title>Certification | Discord Bots</title>
<head>
  <title translate="no">DTL | Bot Certification</title>
    <meta name="og:title" content="DTL | Bot Certification" />
    <link rel="icon" href="https://cdn.discordapp.com/attachments/891226286830272524/894237703116296273/image0.png" type="image/x-icon">
    <meta name="og:url" content="https://townlist.xyz" />
    <meta name="og:description" content="Introducing Bot certification. Do you want to be recognized easily and have some cool badge on your bot and your profile? Apply for certification now and stay away from the crowd.">
    <meta name="og:url" content="https://townlist.xyz" />
        <link rel="icon" href="https://cdn.discordapp.com/attachments/891226286830272524/894254398937628752/image0.png" type="image/x-icon">
    <meta name="og:image" content="https://townlist.xyz/img/botcertification.jpg" />
        <meta property="og:site_name" content="Powered by townlist.xyz">
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta name="description" content="Introducing Bot certification. Do you want to be recognized easily and have some cool badge on your bot and your profile? Apply for certification now and stay away from the crowd.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Discord Bot Certification">
    <meta name="twitter:description" content="Introducing Bot certification. Do you want to be recognized easily and have some cool badge on your bot and your profile? Apply for certification now and stay away from the crowd.">
</head>
</head>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-disbots pt-5">
            <h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
            <p>&raquo&raquo Certificate Requirements</p>
            <p>
                &raquo Your bot must have been on our site for at least 5 days.
                <br>&raquo It must be hosted 24/7. Only short downtimes are accepted to perform minor maintenance or fix errors.
                <br>&raquo It must have original features.
                <br>&raquo It must not have been forked from another existing project.
                <br>&raquo It must have a site, or a GitHub repository that provides very clear documentation about the bot's features.
                <br>&raquo It must have more than 100 servers.
                </p>
            <br>
            <p><b>&raquo&raquo</b> Certificate Perks</p>
            <p>
                <br>&raquo&raquo For bots
                <br>&raquo A special role on our Discord server to let people know that it's certified.
                <br>&raquoA special badge(                <span data-tooltip="<%=bot.guilds.cache.get(config.server.id).roles.cache.get(roles.botlist.certified_bot).name%>" data-tooltip-location="top"> 
                    <i class="fad fa-badge-check bodyIcon" style="font-size: 20px;"></i>
                    </span>) on your bot card to let people know that it's certified.
                
                <br><br>&raquo&raquo For bots developers
                
                <br>&raquo A special role on our Discord server to let people know that you are certified.
                <br>&raquo A special badge(                <span data-tooltip="<%=bot.guilds.cache.get(config.server.id).roles.cache.get(roles.botlist.certified_developer).name%>" data-tooltip-location="top"> 
                    <i class="fad fa-badge-check" style="color: <%=bot.guilds.cache.get(config.server.id).roles.cache.get(roles.botlist.certified_developer).hexColor%>;font-size: 20px;"></i>
                    </span>) on your profile to let people know that you are certified.
                </p>
            <br>
        </div>
    </div>
    <center>
    <button onclick="location.href='/certification/apply'" class="btn btn-disbots"><i class="fad fa-check"></i>&nbsp;Apply for Certification</button>
    
    </center>
</div>






<%- include('../../parts/foot') %>